

<form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <fieldset>

    <!-- Form Name -->
    <legend>Login</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="fname">First Name</label>
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Your Email *" name="username" [(ngModel)]="username" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="lname">Last Name</label>
      <div class="col-md-4">
        <input type="password" class="form-control" placeholder="Your Password *" name="password"
        [(ngModel)]="password" required="">

      </div>
    </div>



    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="save"></label>
      <div class="col-md-8">
          <input type="submit" class="btn btn-primary" value="Login">
      </div>
    </div>

  </fieldset>
</form>
<div class="col-md-12">
    <textarea class="form-control">{{token}}</textarea>
  </div>
